apispec
apispec_webframeworks
openapi_spec_validator
configator
flask
flask-cors
flask_log_request_id
flask_swagger_ui
flask-marshmallow
flask-sqlalchemy
flask-jwt-extended
marshmallow
marshmallow-sqlalchemy
jsonschema
pymysql
requests
shortuuid
uwsgi
